<style>
  .dropdown-menu-wide {
    min-width: 300px;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  }

  .btn-search {
    background-color: red;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem;
    width: 100%;
  }
  .btn-search:hover {
    background-color: #ff4d6d;
    color: #fff;
  }

  .dropdown-item:hover {
    background-color: #ff385c;
    color: #fff;
  }
</style>

<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>

    <!-- Normal navbar links for large screens -->
    <div class="collapse navbar-collapse d-none d-lg-flex" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto">
        <a class="nav-link" href="/listings">Explore</a>
      </div>

      <div class="navbar-nav me-auto">
        <form class="d-flex" role="search" action="/listings" method="GET">
          <input class="form-control me-2" type="search" placeholder="Search destination" name="search">
          <button class="btn btn-search" type="submit">Search</button>
        </form>
      </div>

      <div class="navbar-nav ms-auto align-items-center">
        <a class="nav-link" href="/listings/new">Add New Listing</a>
        <% if(!currUser){ %>
          <a class="nav-link" href="/signup"><b>Sign Up</b></a>
          <a class="nav-link" href="/login"><b>Login</b></a>
        <% } else { %>
          <a class="nav-link" href="/logout">Logout</a>
        <% } %>
      </div>
    </div>

    <!-- Hamburger dropdown for small screens only -->
    <div class="dropdown ms-auto d-lg-none">
      <button class="btn btn-outline-dark dropdown-toggle" type="button" id="megaDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        <span style="font-size: 1.5rem; line-height: 1;">&#9776;</span>
      </button>
      <div class="dropdown-menu dropdown-menu-end dropdown-menu-wide" aria-labelledby="megaDropdown">

        <!-- Explore -->
        <a class="dropdown-item mb-2" href="/listings"><b>Explore</b></a>

        <!-- Search Bar -->
        <form class="d-flex mb-2" role="search" action="/listings" method="GET">
          <input class="form-control me-2 rounded-pill" type="search" placeholder="Search destination" name="search">
          <button class="btn btn-search ms-2" type="submit">Search</button>
        </form>

        <!-- Add New Listing -->
        <a class="dropdown-item mb-2" href="/listings/new"><b>Add New Listing</b></a>

        <!-- Auth Links -->
        <% if(!currUser){ %>
          <a class="dropdown-item" href="/signup">Sign Up</a>
          <a class="dropdown-item" href="/login">Login</a>
        <% } else { %>
          <a class="dropdown-item" href="/logout">Logout</a>
        <% } %>
      </div>
    </div>

  </div>
</nav>
